<!-- templates/partials/user_nav.html -->
<header>
    <nav>
        <div class="logo">
            <a href="{{ url_for('home') }}">
                <img src="{{ url_for('static', filename='images/logo_0_0.webp') }}" alt="Logo">
            </a>
            Exam Registration
        </div>

        <div class="hamburger" id="hamburger">&#9776;</div>
        <!-- These below are using login page as a placeholder until we make the pages -->
        <ul class="user-menu" id="user-menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>

            {% if loggedInUser and loggedInUser.role == 'faculty' %}
            <a href="{{ url_for('faculty_report') }}">Exam Reports</a>
                <li><a href="{{ url_for('filter') }}">View Exams</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
            {% elif loggedInUser and loggedInUser.role == 'student' %}
                <li><a href="{{ url_for('filter') }}">Schedule an Exam</a></li>
                <li><a href="{{ url_for('view_exams') }}">View My Exams</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                
            {% endif %}
        
            {% if not loggedInUser %}
            <li><a href="{{ url_for('login') }}">Login</a></li>
            {% endif %}

        </ul>

    </nav>
</header>