<!-- templates/partials/user_nav.html -->
<header>
    <nav>
        <div class="logo">
            <img src="{{ url_for('static', filename='images/logo_0_0.webp') }}" alt="Logo">
            Exam Registration
        </div>

        <div class="hamburger" id="hamburger">&#9776;</div>
        <!-- These below are using login page as a placeholder until we make the pages -->
        <ul class="user-menu" id="user-menu">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('login') }}">Account</a></li>
            <li><a href="{{ url_for('login') }}">Settings</a></li>
            <li><a href="{{ url_for('login') }}">Reports</a></li>
            <li><a href="{{ url_for('filter') }}">Scheduled Tests</a></li>
            <li><a href="{{ url_for('login') }}">Logout</a></li>
        </ul>

    </nav>
</header>