<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Exam Registration{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/LOGO.png') }}">

    {% block head_extra %}{% endblock %}   <!-- -->
</head>

<body>
    {% set user_authenticated = true %} {# change to false to test guest view #}

    {% if user_authenticated %}
    {% include 'partials/user_nav.html' %}
    {% else %}
    {% include 'partials/guest_nav.html' %}
    {% endif %}

    <!-- Page Content -->
    <main>
        {% block content %}{% endblock %}
    </main>
    {% block footer %}
        {% include 'partials/footer.html' %}
    {% endblock %}

    <script src="{{ url_for('static', filename='js/menu-toggle.js') }}"></script>

</body>

</html>