{% extends 'base.html' %}

{% block title %}Filtered Exams{% endblock %}

{% block head_extra %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/filter.css') }}">
{% endblock %}

{% block content %}
    <section class="report-box">
        <h2>Filter Exams</h2>
        <form method="GET" action="/filter" class="filter-form">
            <div class="form-group">
                <label for="location">Location:</label>
                <select id="location" name="location">
                    <option value="">All</option>
                    <option value="Cheyenne">Cheyenne</option>
                    <option value="Henderson">Henderson</option>
                    <option value="West Charleston">West Charleston</option>
                </select>
            </div>

            <div class="form-group">
                <label for="teacher">Teacher:</label>
                <select id="teacher" name="teacher">
                    <option value="">All</option>
                    {% for faculty in faculty_list %}
                        <option value="{{ faculty.lastName }}">{{ faculty.firstName }} {{ faculty.lastName }}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="form-group">
                <button class="btn btn-filter" type="submit">Filter</button>
            </div>
        </form>

        <h2>Available Exams</h2>
        {% if exams %}
        <div class="exam-report-table-wrapper">
            {% for exam in exams %}
                <div class="btn" onclick="window.location.href='{{ url_for('exam_detail', exam_id=exam.id) }}'">
                    <h1>{{ exam.examName }}</h1><br>
                    Professor: {{ exam.faculty.firstName }} {{ exam.faculty.lastName }}<br>
                    Location: {{ exam.location.campus }} Room {{ exam.location.roomNumber }}
                </div>
            {% endfor %}
        </div>
        {% else %}
        <p style="text-align: center; margin-top: 2rem;">No exams found for that filter.</p>
        {% endif %}
    </section>
{% endblock %}
