<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><u>Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}"> 

</head>
<body>
    <!---Header--->
    {% extends 'base.html' %}
    {% block head_extra %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    {% endblock %}
    {% block title %}Exam Registration - Home{% endblock %}
    {% block footer %}{% endblock %}
    {% block content %}
     <!---Registration--->
    <div class="container">
        <h2><br>Log In<r.</u></h2>
        <form action="#" method="POST">
            <label for="email"><br>Email / Username</label>
            <input type="email" id="email" name="email" required>

            <label for="password">Password</label>
            <input type="password" id="password" name="password" required>

            <button type="submit">Log In</button>
            <label for="signup">No Account? </label>

            <li><a href="{{ url_for('signup') }}">Sign Up</a></li>
            <br>
        </form>
    </div>
    </div>
    
    {% endblock %}
</body>
</html>